<p style="text-align: center; font-weight: bold; font-size:xx-large;">Coffee Selector</p>

<img src="Images/coffee_image1.PNG" />

<p style="text-align: center; font-weight: bold; font-size:large;">Do you ever wonder the significance of all those regions printed on bags of coffee?</p>

<p style="text-align: center; font-weight: bold; font-size:medium;">Maybe you crave a particularly bold coffee, or prefer low acidity. Could there be a region that suits your unique tastes?</p>

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import sklearn

In [3]:
df = pd.read_csv("arabica_data_cleaned_filtered.csv")

In [6]:
aspects = ["aroma", "flavor", "aftertaste", "acidity", "body", "balance", "uniformity" "clean_cup", "sweetness", "total_points"]

,Unnamed: 0,Country_of_Origin,Region,Owner_1,Variety,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Total_Cup_Points
0,1,Ethiopia,guji-hambela,metad plc,NaN,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,90.58
1,2,Ethiopia,guji-hambela,metad plc,Other,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,89.92
2,3,Guatemala,NaN,Grounds for Health Admin,Bourbon,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,89.75
3,4,Ethiopia,oromia,Yidnekachew Dabessa,NaN,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,89.00
4,5,Ethiopia,guji-hambela,metad plc,Other,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,88.83